.sidebar {
  display: flex;
}
.sidebar_inner {
  background-color: rgb(31, 36, 40) !important;
}
.home_layout_outer {
  display: flex;
}
.home_layout {
  margin-top: 220px;
  margin-left: 40px;
}
.home_layout > div > h2 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.layout {
  display: flex;
  
}
.anurag_pic {
  height: 400px;
}
.anurag_pic_div{
  margin-left:340px;
  margin-top:150px;
}