.sections {
  margin: 10px;
  cursor: progress;
}
.Navbar {
  display: flex;
  background-color: rgb(31, 36, 40);
}
.middleTitle {
  margin-left: 15%;
}
.sections :hover {
  color: red;
}
.red {
  background: red;
  height: 20px;
  width: 20px;
}
.yellow {
  background: green;
  height: 20px;
  width: 20px;
}
.green {
  background-color: yellow;
  height: 20px;
  width: 20px;
}
