/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navbar_innerContent {
    display: flex;
    background-color: rgb(31, 36, 40);
    width: 82%;
    transition: 6s;
    position: absolute;
    overflow-x: scroll;
  }
  .logo_title {
    display: flex;

    padding: 20px 20px 20px 15px;
    height: 25px;
    font-size: 40px;
    cursor: pointer;
    text-decoration: none;
  }

  .title_icon {
    height: 25px;
    margin-right: 15px;
    margin-top: 5px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .navbar_innerContent {
    display: flex;
    background-color: rgb(31, 36, 40);
    width: 82%;
    transition: 6s;
    position: absolute;
  }
  .logo_title {
    display: flex;

    padding: 20px 20px 20px 15px;
    height: 25px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
  }

  .title_icon {
    height: 25px;
    margin-right: 15px;
    margin-top: 5px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navbar_innerContent {
    display: flex;
    background-color: rgb(31, 36, 40);
    width: 82%;
    transition: 6s;
    position: absolute;
  }
  .logo_title {
    display: flex;

    padding: 20px 20px 20px 15px;
    height: 25px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
  }

  .title_icon {
    height: 25px;
    margin-right: 15px;
    margin-top: 5px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar_innerContent {
    display: flex;
    background-color: rgb(31, 36, 40);
    width: 82%;
    transition: 6s;
    position: absolute;
  }
  .logo_title {
    display: flex;

    padding: 20px 20px 20px 15px;
    height: 25px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
  }

  .title_icon {
    height: 25px;
    margin-right: 15px;
    margin-top: 5px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 2560px) {
  .navbar_innerContent {
    display: flex;
    background-color: rgb(31, 36, 40);
    width: 82%;
    transition: 6s;
    position: absolute;
  }
  .logo_title {
    display: flex;

    padding: 20px 20px 20px 20px;
    height: 30px;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
  }

  .title_icon {
    height: 30px;
    margin-right: 20px;
    margin-top: 10px;
  }
}
