.navbar_innerContent {
  display: flex;
  background-color: rgb(31, 36, 40);
  width: 1238px;
  position: absolute;
}
.logo_title {
  display: flex;

  padding: 10px 10px 10px 10px;
  height: 20px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}

.title_icon {
  height: 18px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
