.sections {
  margin: 10px;
  cursor: progress;
}
.Navbar {
  width: 100%;
}
.px-3 {
  padding-left: 0.75 rem;
  padding-right: 0.75 rem;
}
.bg-\[\#1f2428\] {
  --tw-bg-opacity: 1;
  background-color: rgba(31, 36, 40, var(--tw-bg-opacity));
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.h-\[30px\] {
  height: 30 px;
}
.sticky {
  position: sticky;
}
.px-3 {
  padding-left: 0.75 rem;
  padding-right: 0.75 rem;
}
.bg-\[\#1f2428\] {
  --tw-bg-opacity: 1;
  background-color: rgba(31, 36, 40, var(--tw-bg-opacity));
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.h-\[30px\] {
  height: 30 px;
}
.grid {
  display: grid;
}
.z-50 {
  z-index: 50;
}
.top-0 {
  top: 0;
}
.middleTitle {
  margin-left: 15%;
}

.red {
  position: relative;
  background: rgb(239, 68, 68);
  height: 12px;
  width: 12px;
  border-radius: 50px;
  margin-left: 8px;
  margin-right: 20px;
  margin-top: 10px;
  cursor: pointer;
}
.yellow {
  position: relative;
  background: rgb(252, 211, 77);
  height: 12px;
  width: 12px;
  margin-top: 10px;
  border-radius: 50px;
  cursor: pointer;
}
.green {
  margin-left: 8px;
  position: static;
  margin-top: 10px;
  background-color: rgb(16, 185, 129);
  height: 12px;
  width: 12px;
  border-radius: 50px;
  cursor: pointer;
}
.lastTitle {
  display: flex;
  justify-content: flex-end;
}
